@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: linear-gradient(to top, #15afe2, #ffffff);
    min-height: 80vh;  
    font-family: 'Times New Roman', Times, serif;
}
.material-icons {
    font-size: 100px;   
}
tr:nth-child(odd) {
    background-color: #dddddd;
  }
  .title {
    margin-top: 10px;
    font-size: 60px;
  }
  .Error{
    color: red;
    font-size: 10px;
  }
  .link {
    color: blue;
    text-decoration: underline;
  }